* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}


h1 {
	font-size:  1.75em;
	text-align: center;
}

h2 {
	font-size: 1.25em;
	font-family: Arial, Verdana;
}

p {
	font-family: Lucida, Verdana;
}

section {
	border: 1px solid black;
	background-color: gray;
	margin: 10px;
}

section h2 {
	float: right;
	border: 1px solid black;
	border-width: 0px 0px 1px 1px;
	padding: 5px 30px 5px 30px;
	margin: 0;
}

section p {
	clear: right;
	padding: 10px;
}

section.chicken h2 {
	background-color: #ff6600;
}

section.beef h2 {
	background-color: #66ff66;
}

section.sushi h2 {
	background-color: #33cccc;
}


@media (min-width: 992px) {
	section {
		float: left;
		width: 32%;
		margin: .5%;
	}
	section.chicken {
		margin-left: 1%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	section {
		float: left;
		margin: 2.5%;
	}
	section.chicken {
		width: 45%;
	}
	section.beef {
		width: 45%;
	}
	section.sushi {
		clear: right;
		width: 95%;
	}
}

@media (max-width: 767px) {
	section {
		width: 90%;
		margin:30px auto;
	}
}