h1 {
	font-size:  1.75em;
}

h2 {
	font-size: 1.25em;
}

section {
	border: 1px solid black;
	background-color: gray;
	position: relative;
}

section h2{
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid black;
}

section p {
	position: relative;
}